<!DOCTYPE html><html lang="zh-CN"><!-- This web page is copied by the "https://bazhan.wang" --><head><meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>邮件推送 - API接口</title>
	<meta name="description" content="邮件推送接口">
    <meta name="author" content="Literature">
    <link href="css/api_bootstrap.min.css" rel="stylesheet">
    <link href="css/api_font-awesome.min.css" rel="stylesheet">
    <link href="css/api_site.min.css" rel="stylesheet">
    <style>
	/*底部页脚*/
	.github-badge {
	  display: inline-block;
	  border-radius: 2px;
	  text-shadow: none;
	  font-size: 12px;
	  color: #fff;
	  line-height: 15px;
	  background-color: #abbac3;
	  margin-bottom: 3px
	}

	.github-badge .badge-subject {
	  display: inline-block;
	  background-color: #4d4d4d;
	  padding: 4px 4px 4px 6px;
	  border-top-left-radius: 4px;
	  border-bottom-left-radius: 4px
	}

	.github-badge .badge-value {
	  display: inline-block;
	  padding: 4px 6px 4px 4px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px
	}

	.github-badge .bg-blue {
	  background-color: #007ec6
	}

	.github-badge .bg-orange {
	  background-color: #ff9f18
	}
	.github-badge .bg-lit {
	  background-color: #99FF33
	}

	.github-badge .bg-red {
	  background-color: #FF3366
	}

	.github-badge .bg-green {
	  background-color: #00c787
	}

	.github-badge .bg-purple {
	  background-color: #ab34e9
	}
	.github-badge .bg-yellow {
		background-color: #D8B024 !important;
	}
	.github-badge .bg-blueviolet {
		background-color: #9933FF !important;
	}
	.github-badge .bg-pink {
		background-color: #F26BAE !important;
	}
	.github-badge .bg-lightgrey {
		background-color: #9F9F9F !important;
	}
	.github-badge .bg-gray {
		background-color: #555 !important;
	}
	.github-badge .bg-lightgray {
		background-color: #9f9f9f !important;
	}
    </style>
</head>
<body class="home-template">
    <header class="site-header">
        <nav class="navbar navbar-static-top main-navbar" id="top">
            <div class="container">
                <div class="navbar-header">
                    <h3>邮件推送</h3>	
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <li><a href="../../">首页</a></li>
                       <li><a href="https://github.com/LiteraturePro/Python-Email" onclick="_hmt.push(['_trackEvent', 'main-navbar', 'click', 'about'])">关于</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="container jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <h1>邮件推送<img src="http://lean-api.wxiou.cn/static/picture/uomgapi.svg" alt="APIlogo" class="hidden"></h1>
                    <p>邮件推送内容API接口</p>
                    <p>一切所提供的服务内容版权归原服务商所有！</p>
                </div>
            </div>
        </div>
        <div class="package-info well well-md text-center">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#api" data-toggle="tab">API文档</a></li>
                    <li><a href="#code" data-toggle="tab">错误码参照</a></li>
                    <li><a href="#demo" data-toggle="tab">示例代码</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="container tab-content" id="myTabContent">
        <article class="markdown-body tab-pane fade in active" id="api">
            <div class="api-sub-content">
                <div class="simpleline"><strong>接口地址：</strong><span class="url"><!--?php echo filter_input(INPUT_SERVER, "SERVER_NAME"); ?-->/api</span></div>
                <div class="simpleline"><strong>备用接口地址：</strong><span class="url"><!--?php echo filter_input(INPUT_SERVER, "SERVER_NAME"); ?-->/api2</span></div>
                <div class="simpleline"><strong>返回格式：</strong><span class="url">JSON</span></div>
                <div class="simpleline"><strong>请求方式：</strong><span class="url">GET/POST</span></div>
                <div class="simpleTable">
                    <p class="linep">请求参数说明：</p>
                    		        <table class="api-table" border="0" cellspacing="0" cellpadding="0">
		          <tbody>
		              <tr class="title">
		                  <th width="20"></th>
		                  <th width="100">名称</th>
		                  <th width="60">必填</th>
		                  <th width="80">类型</th>
		                  <th>说明</th>
		              </tr>
		              		            <tr>
		                  <td>&nbsp;</td>
		                  <td class="url">cityname</td>
		                  <td class="url">是</td>
		                  <td class="url">string</td>
		                  <td>请输入城市的拼音，例如: nanjing</td>
		              </tr>
		              		          </tbody>
		          </table>
		          </div>
		          <div class="simpleTable">
		              <p class="linep">返回参数说明：</p>
		               <table class="api-table" border="0" cellspacing="0" cellpadding="0">
		              <tbody><tr class="title">
		                  <th width="20"></th>
		                  <th width="100">名称</th>
		                  <th width="80">类型</th>
		                  <th>说明</th>
		              </tr>
		              		            <tr>
		                  <td>&nbsp;</td>
		                  <td class="url">image</td>
		                  <td class="url">string</td>
		                  <td>返回图片URL</td>
		              </tr>
		              		            <tr>
		                  <td>&nbsp;</td>
		                  <td class="url">word</td>
		                  <td class="url">string</td>
		                  <td>返回一言</td>
		              </tr>
		          	<tr>
		          	    <td>&nbsp;</td>
		          	    <td class="url">voice</td>
		          	    <td class="url">string</td>
		          	    <td>返回音频URL</td>
		          	</tr>
							          	<tr>
					    <td>&nbsp;</td>
					    <td class="url">date</td>
					    <td class="url">string</td>
					    <td>返回日期</td>
					</tr>
							          	<tr>
					    <td>&nbsp;</td>
					    <td class="url">weather</td>
					    <td class="url">list</td>
					    <td>返回明日天气(明天的日期、天气情况、最高温度、最低温度、风级)</td>
					</tr>
		              		            </tbody>
		        </table>
                </div>
                <div class="simpleTable">
                   <p class="linep">返回示例：</p><div class="prediv"><pre>{
    "image": "http://image.wufazhuce.com/Fu9MdVaXkPCfS0aCn3G7Zq0k406G", 
    "word": "对于古老文化的深刻认知与自信，反而会让人们去加速吸纳新事物，这种新旧之间振幅的宽度，才是产生这种优雅的文化空间。", 
    "voice": "http://bmob.wxiou.cn/2021/03/27/e90928e0407bc26980c3cb5745987098.mp3", 
    "date": "28 Mar 2021", 
    "weather": [
        "29日（明天）", 
        "多云转雷阵雨", 
        "25", 
        "15 ", 
        "3-4级"
    ]
}</pre></div>		    </div>
		</div>
        </article>
        <article class="markdown-body tab-pane fade" id="code">
            <div class="api-sub-content">
                <div class="simpleTable">
                <p class="linep"> 服务级错误码参照(error_code)： </p> 
		    <table class="api-table" border="0" cellspacing="0" cellpadding="0"> 
		     <tbody> 
		      <tr> 
		       <th width="20"> &nbsp; </th> 
		       <th width="200"> 错误码 </th> 
		       <th> 说明 </th> 
		      </tr> 
		      		      <tr>
		          <td>&nbsp;</td>
		          <td class="url">20011</td>
			      <td class="text">无效的请求</td> 
		      </tr>
		      		     </tbody> 
		      </table> 
		     </div> 
                <div class="simpleTable">
                    <p class="linep"> 系统级错误码参照： </p> 
		    <table class="api-table" border="0" cellspacing="0" cellpadding="0"> 
		     <tbody> 
		      <tr> 
		       <th width="20"> &nbsp; </th> 
		       <th width="200"> 错误码 </th> 
		       <th> 说明 </th> 
		      </tr> 
		      <tr> 
		       <td> &nbsp; </td> 
		       <td class="url"> 10011 </td> 
		       <td class="text"> 无效的请求 </td> 
		      </tr> 
		     </tbody> 
		    </table> 
		   </div> 
                <div class="simpleTable">
                    <p class="linep"> 错误码格式说明（示例：20011）： </p> 
		    <table class="api-table" border="0" cellspacing="0" cellpadding="0"> 
		     <tbody> 
		      <tr> 
		       <th width="20"> &nbsp; </th> 
		       <th width="200"> 2 </th> 
		       <th width="200"> 001 </th> 
		       <th> 1 </th> 
		      </tr> 
		      <tr> 
		       <td> &nbsp; </td> 
		       <td> 服务级错误（1为系统级错误） </td> 
		       <td> 服务模块代码(即数据ID) </td> 
		       <td> 具体错误代码 </td> 
		      </tr> 
		     </tbody> 
		    </table> 
		   </div> 
		  </div>
	</article>
        <article class="markdown-body tab-pane fade" id="demo">
            <div class="simpleTable">
                <p class="linep">Python演示：</p>
		    <div class="prediv">
		    	<pre>import requests

if __name__=="__main__":
    url = 'http://lean-api.wxiou.cn/api'
    #url = 'http://lean-api.wxiou.cn/api2'
    
    datas ={
        'cityname':"nanjing"
    }
    respose = requests.get(url=url,data=datas)
    # status_code 为返回的状态码
    print(respose.status_code)
    # text为返回的数据
    print(respose.text)
    </pre>
		    </div>
		</div>
	</article>
</main>
<center>
<div class="github-badge">
					<a href="http://www.beian.miit.gov.cn" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color="ffffff">2021 Copyright</font></span><font color="ffffff"><span class="badge-value bg-blue">wxiou.cn</span>
					</font></a><font color="ffffff">
				</font></div><font color="ffffff">
				<div class="github-badge">
					<a href="http://www.beian.miit.gov.cn" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color="ffffff">黔ICP备</font></span><font color="ffffff">
						<span class="badge-value bg-pink">19007604号</span>
					</font></a><font color="ffffff">
				</font></div><font color="ffffff">

				<div class="github-badge">
					<a href="https://console.upyun.com/register/?invite=ByG1JARJw" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color="ffffff">CDN</font></span><font color="ffffff">
					</font></a><font color="ffffff">
						<span class="badge-value bg-success">Leancloud</span>		
				</font></div><font color="ffffff">
				<div class="github-badge">
					<a href="https://console.upyun.com/register/?invite=ByG1JARJw" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color="ffffff">Pic</font></span><font color="ffffff">
					</font></a><font color="ffffff">
						<span class="badge-value bg-red">Leancloud</span>
				</font></div><font color="ffffff">
				<div class="github-badge">
					<a target="_blank" href="https://www.aliyun.com/minisite/goods?userCode=w1qepxjq">
						<span class="badge-subject"><font color="ffffff">Host</font></span><font color="ffffff">
					</font></a><font color="ffffff">
						<span class="badge-value bg-blueviolet">Leancloud</span>
				</font></div><font color="ffffff">
				<div class="github-badge">
					<a href="https://url.cn/1MSos7sX" rel="nofollow" target="_blank">
						<span class="badge-subject"><font color="ffffff">OSS</font></span><font color="ffffff">
					</font></a><font color="ffffff">
						<span class="badge-value bg-lit">Bmob</span>
				</font></div><font color="ffffff">

</font></font></font></font></font></font></center><font color="ffffff"><font color="ffffff"><font color="ffffff">
    <script src="js/api_jquery.min.js"></script>
    <script src="js/api_bootstrap.min.js"></script>

</font></font></font></body></html>